@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  --primary: 220 50% 80%;
  --secondary: 220 50% 75%;
  --text: 220 50% 20%;
  --muted: 220 30% 60%;
  --bg: 220 50% 98%;
  --bg-alt: 220 50% 98%;
  --border: 220 50% 75%;
  --input: 220 50% 75%;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --primary: 0 0% 100%;
  --secondary: 220 30% 40%;
  --text: 220 30% 90.2%;
  --muted: 220 30% 40%;
  --bg: 220 30% 7.5%;
  --bg-alt: 220 30% 6.5%;
  --border: 220 30% 20%;
  --input: 220 30% 20%;
}

:root {
  --foreground: 210 40% 98%;
  --background: var(--bg);
  --background-sheet: 220 30% 7.5%;

  --card: var(--bg);
  --card-foreground: var(--foreground);

  --popover: var(--bg);
  --popover-foreground: var(--text);

  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary-foreground: var(--foreground);
  --muted-foreground: 215 20.2% 65.1%;

  --accent: var(--muted);
  --accent-foreground: var(--foreground);

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: var(--foreground);

  --warning: 47.29 100% 50%;

  --ring: 212.7 26.8% 83.9%;

  --radius: 0.4rem;

  /* Generic */
  --text-normal: hsl(var(--text));
  --text-muted: hsl(var(--muted));
  --text-warning: hsl(var(--warning));

  --text-primary: hsl(var(--primary));
  --text-secondary: hsl(var(--secondary));

  --page-bg: hsl(var(--bg));
  --page-bg-alt: hsl(var(--bg-alt));
  --page-scrollbar: hsl(var(--bg));
  --page-border: hsl(var(--border));

  /* Buttons */
  --button-text: hsl(var(--muted));
  --button-text-muted: hsl(var(--muted));
  --button-text-hover: hsl(var(--text));
  --button-bg: hsl(var(--bg));
  --button-bg-hover: hsl(var(--bg));

  /* Input fields */
  --input-text: hsl(var(--text));
  --input-text-muted: hsl(var(--muted));
  --input-hover: hsl(var(--text));
  --input-border: hsl(var(--muted));
  --input-border-active: hsl(var(--muted));

  /* Sortable drag indicators */
  --drag-indicator-text: hsl(var(--muted));
  --drag-indicator-text-active: hsl(var(--text));
}

:root {
  background: var(--page-bg);
  color: var(--text-normal);
  font-family: 'Chivo', monospace;
  font-weight: 250;
  overflow-y: scroll; /* Always show scrollbar to avoid layout shift */
}

::selection {
  color: var(--text-muted);
  background-color: var(--text-primary);
}

@font-face {
  font-family: 'Nib Pro';
  src: url('./../../public/NibPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nib Pro';
  src: url('./../../public/NibPro-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@layer base {
  * {
    @apply border-border;
    min-width: 0;
  }
}

@keyframes rotates {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--page-border);
  }
  50% {
    box-shadow: 0 0 0 var(--page-border);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--page-border);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 var(--text-muted);
  }
  50% {
    box-shadow: 0 0 0 var(--text-muted);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--text-muted);
    margin-top: 0;
  }
}

.loader {
  animation: rotates 1s infinite;
  height: 50px;
  width: 50px;
}
.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  mix-blend-mode: multiply;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--text-muted);
  box-shadow: 30px 0 0 var(--page-border);
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--page-border);
  box-shadow: 30px 0 0 var(--text-muted);
}

/* CodeMirror container */
.cm-theme,
.cm-editor {
  height: 100%;
  min-height: 100%;
  background-color: transparent;
}
.cm-content {
  padding: 0 0.5em 0 0 !important;
}
.cm-gutters {
  display: none !important;
}
.cm-line {
  padding-left: 0 !important;
}
.cm-focused {
  outline: none !important;
}
.cm-activeLineGutter,
.cm-activeLine {
  background-color: transparent !important;
}
