@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary: 255, 255, 255;
  --secondary: #f1f1f1;

  --text: 230, 230, 230;
  --muted: 110, 110, 110;
  --muted-more: 70, 70, 70;
  --bg: 30, 30, 30;
  --bg-dark: 0, 0, 0;
  --bg-darkish: 45, 45, 45;

  /* Generic */
  --text-normal: rgb(var(--text));
  --text-muted: rgb(var(--muted));
  --text-warning: #ffc900;

  --text-primary: rgb(var(--primary));
  --text-secondary: rgb(var(--secondary));

  --line-border: rgb(var(--muted));
  --line-border-dark: rgb(var(--muted-more));

  --page-bg: rgb(var(--bg));
  --page-bg-dark: rgb(var(--extreme));
  --page-scrollbar: rgb(var(--bg-darkish));

  /* Buttons */
  --button-text: rgb(var(--text));
  --button-text-muted: rgb(var(--muted));
  --button-text-hover: rgb(var(--text));
  --button-bg: rgb(var(--bg));
  --button-bg-hover: rgb(var(--bg-darkish));

  /* Input fields */
  --input-text: rgb(var(--text));
  --input-text-muted: rgb(var(--muted));
  --input-hover: rgb(var(--text));
  --input-border: rgb(var(--muted));
  --input-border-active: rgb(var(--muted));

  /* Sortable drag indicators */
  --drag-indicator-text: rgb(var(--muted));
  --drag-indicator-text-active: rgb(var(--text));
}

@font-face {
  font-family: "Chivo";
  src: url("./../../public/ChivoMono.woff2") format("woff2-variations");
  src: url("./../../public/ChivoMono.woff2") format("woff2") tech("variations");
  font-weight: 100 900;
  /* font-stretch: 25% 151%; */
}

html {
  color: var(--text-normal);
  background: var(--page-bg);
  /* font-family: "Space Mono", monospace; */
  font-family: "Chivo";
  font-weight: 250;

  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: var(--page-scrollbar);
  border-radius: 2.5px;
}

/* CodeMirror container */
.cm-theme,
.cm-editor {
  height: 100%;
  min-height: 100%;
}

.cm-content {
  padding: 0 0.5em 0.5em 0 !important;
}
.cm-gutters {
  display: none !important;
}
.cm-line {
  padding-left: 0 !important;
}
/* .cm-gutters, */
.cm-activeLineGutter,
.cm-activeLine {
  background-color: transparent !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 8.76%;
    --popover-foreground: 0 0% 100%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    min-width: 0; /* Giving this a trial */
  }
}
